.country-select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 14px;
    width: 200px;
  }

  .loading-box {
    background: rgba(34, 163, 79, 0.12);
    color: #69b77f;
  
    padding: 10px 14px;
    margin: 10px 0 20px;
  
    border-radius: 8px;
    border: 1px solid rgba(45, 86, 62, 0.3);
  
    font-size: 14px;
  }
